{% extends 'landing/base.html' %}

{% block title %}Directiva{% endblock title %}

{% block background %}
    {% load static %}
    {% static 'landing/img/PortadaDirectiva.jpe' %}
{% endblock background %}

{% block headers %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center>
        <img class="d-block img-fluid avatar w-50" src="{% load static %} {% static 'landing/img/directiva4.jpeg' %}" alt="First slide">
      </center>
    </div>
    <div class="carousel-item">
      <center>
        <img class="d-block img-fluid avatar w-50" src="{% load static %} {% static 'landing/img/directiva1.jpeg' %}" alt="Second slide">
      </center>
    </div>
    <div class="carousel-item">
      <center>
        <img class="d-block img-fluid avatar w-50" src="{% load static %} {% static 'landing/img/directiva2.jpeg' %}" alt="Third slide">
      </center>
    </div>
    <div class="carousel-item">
      <center>
        <img class="d-block img-fluid avatar w-50" src="{% load static %} {% static 'landing/img/directiva3.jpeg' %}" alt="Third slide">
      </center>
    </div>
    <div class="carousel-item">
      <center>
        <img class="d-block img-fluid avatar w-50" src="{% load static %} {% static 'landing/img/directiva5.jpeg' %}" alt="Third slide">
      </center>
    </div>
    <div class="carousel-item">
      <center>
        <img class="d-block img-fluid avatar w-50" src="{% load static %} {% static 'landing/img/directiva6.jpeg' %}" alt="Third slide">
      </center>
    </div>
    <div class="carousel-item">
      <center>
        <img class="d-block img-fluid avatar w-50" src="{% load static %} {% static 'landing/img/directiva7.jpeg' %}" alt="Third slide">
      </center>
    </div>
  </div>
</div>

<style>
  @media (min-width: 768px) {
    .site-heading { padding: 100px 0px !important; }
  }
  .w-50 { width: 70% !important; }
  .avatar { border-radius: 10%; }
</style>
{% endblock headers %}


{% block content %}

<div class="inner">
    <header>
        <h2>Directivas:</h2>
    </header>

    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h4 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              2019
            </button>
          </h4>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Presidente:</td>
                  <td>Gerardo Jesus Ignacio Villacorta</td>
                </tr>
                <tr>
                  <td>Primer Vicepresidente:</td>
                  <td>Sammy Gabriel Sarmineto Alarcón</td>
                </tr>
                <tr>
                  <td>Segundo Vicepresidente:</td>
                  <td>Franklin Vasquez Capcha</td>
                </tr>
                <tr>
                  <td>Directora de Marketing:</td>
                  <td>Donnalyn Francesca Melgar Grijalba</td>
                </tr>
                <tr>
                  <td>Director de Talento Humano:</td>
                  <td>Italo Espinoza Radenovich</td>
                </tr>
                <tr>
                  <td>Director de Logistica:</td>
                  <td>Gerson Michael Cuya Huarajo</td>
                </tr>
                <tr>
                  <td>Director PMO:</td>
                  <td>Brayan Anderso Huaccharaqui Barrientos</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--<div class="card">
        <div class="card-header" id="headingTwo">
          <h4 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              2018
            </button>
          </h4>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <p>Presidente:</p>
            <p>Vicepresidente:</p>
            <p>PMO:</p>
          </div>
        </div>
      </div>
    </div>-->

</div>
<br>

<style>
  .btn { font-size: 20px; padding: 0px; }
</style>

{% endblock content %}

{% block aliados %}
{% endblock aliados %}